.top_header{
    background-color:grey;
    padding: 20px;
    color: white;
    text-align: center;
}
.landing_img{
    background-image: url(./images/black.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: -40px;
    padding-top: 100px;

}